.row{
    display:flex;
    background: whitesmoke;
    opacity: 0.75;
    font-size: large;
    
}
.col{
    color: black;
}
h1{
    color: black;
}
.sec{
background-image:url('https://img.freepik.com/free-vector/modern-banner-with-abstract-low-poly-design_1048-14340.jpg?w=1380&t=st=1659881461~exp=1659882061~hmac=84a2255dfc84b96be2b58f7748ead57ae639071a69d944842b56aef5c27d86f1');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
}

