.sec {
  background-image: url(/assets/images/grey-geometrical-shapes-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  padding-bottom: 10rem;
}
label {
  color: white;
}
h3 {
  color: white;
}
