.sec{
    background-image: url(https://img.freepik.com/free-photo/grey-geometrical-shapes-background_23-2148811539.jpg?w=1380&t=st=1660721118~exp=1660721718~hmac=832a2ed063271e8af1ccddabdb47f65c357e4fa9937bb0c4b0d1aaeb03e3ecd2);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    padding-bottom: 10rem;
}
label{
    color: white;
}
h3{
    color: white;
}