<app-admin-header></app-admin-header>
<div class="album py-4 bg-light" style="background-image: url('https://img.freepik.com/free-vector/modern-banner-with-abstract-low-poly-design_1048-14340.jpg?w=1380&t=st=1659881461~exp=1659882061~hmac=84a2255dfc84b96be2b58f7748ead57ae639071a69d944842b56aef5c27d86f1');">
  <div class="container">
    <div class="row">
      <button
        class="col-md-1 m-3 btn btn-sm btn-success"
        (click)="goToAddAddOn()"
      >
        Add Add-on
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let addon of addons">
        <div class="card mb-4 box-shadow">
          <a
            [routerLink]="[addon.addOnid]"
            [queryParams]="{ allowEdit: addon.addOnid > 0 ? '1' : '0' }"
          >
            <img
              class="card-img-top"
              [alt]="addon.addOnName"
              style="height: 225px; width: 100%; display: block"
              [src]="addon.addOnImageUrl"
          /></a>
          <div class="card-body">
            <h4 class="card-title">{{ addon.addOnName }}</h4>
            <h5>Price:{{ addon.addOnPrice | currency: "INR" }}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  (click)="updateAddon(addon.addOnid)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  (click)="deleteAddon(addon.addOnid)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
