<div class="sec">
  <div class="container">
    <br />
    <div
      class="card mb-4 box-shadow"
      style="background-color: black; opacity: 0.75"
    >
      <br />
      <div class="text-center"><h3>ADD ADD-ONS</h3></div>
      <br />
      <form [formGroup]="Addsaddon" (ngSubmit)="AddAddOn()">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="form-group m-3">
              <label for="addonName">AddOn Name:</label>
              <input
                type="text"
                name="addonName"
                id="addonName"
                formControlName="addonName"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (submitted && f['addonName'].errors) ||
                    (f['addonName'].touched && f['addonName'].errors)
                }"
              />
              <div
                *ngIf="
                  (submitted && f['addonName'].errors) ||
                  (f['addonName'].touched && f['addonName'].errors)
                "
                class="invalid-feedback"
              >
                <div *ngIf="f['addonName'].errors['required']">
                  AddOn Name is required
                </div>
                <div *ngIf="f['addonName'].errors['pattern']">
                  AddOn Name is Invalid
                </div>
              </div>
            </div>
            <div class="form-group m-3">
              <label for="addonimageUrl">AddOn Image Url:</label>
              <input
                type="text"
                name="addonimageUrl"
                id="addonimageUrl"
                formControlName="addonimageUrl"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (submitted && f['addonimageUrl'].errors) ||
                    (f['addonimageUrl'].touched && f['addonimageUrl'].errors)
                }"
              />
              <div
                *ngIf="
                  (submitted && f['addonimageUrl'].errors) ||
                  (f['addonimageUrl'].touched && f['addonimageUrl'].errors)
                "
                class="invalid-feedback"
              >
                <div *ngIf="f['addonimageUrl'].errors['required']">
                  Image Url is required
                </div>
              </div>
            </div>
            <div class="form-group m-3">
              <label for="addonPrice">AddOn Price:</label>
              <input
                type="number"
                min="0"
                (keypress)="keyPressNumbers($event)"
                name="addonPrice"
                id="addonPrice"
                formControlName="addonPrice"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (submitted && f['addonPrice'].errors) ||
                    (f['addonPrice'].touched && f['addonPrice'].errors)
                }"
              />
              <div
                *ngIf="
                  (submitted && f['addonPrice'].errors) ||
                  (f['addonPrice'].touched && f['addonPrice'].errors)
                "
                class="invalid-feedback"
              >
                <div *ngIf="f['addonPrice'].errors['required']">
                  AddOn Price is required
                </div>
                <div *ngIf="f['addonPrice'].errors['pattern']">
                  AddOn Price is Invalid
                </div>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center m-3">
              <button
                type="submit"
                class="btn btn-primary btn-lg"
                [disabled]="Addsaddon.invalid"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
