<app-user-header></app-user-header> 
<section class="sec">
<div class="album py-4"  style="background-image: url('https://img.freepik.com/free-vector/modern-banner-with-abstract-low-poly-design_1048-14340.jpg?w=1380&t=st=1659881461~exp=1659882061~hmac=84a2255dfc84b96be2b58f7748ead57ae639071a69d944842b56aef5c27d86f1'); height:18cm;">
<div class="container d-flex justify-content-center mt-5">

    <div class="card text-center mb-5">

        <div class="circle-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3P67ceZ6BkgckhxdzPMyotMIifF0LbeOvgg&usqp=CAU" width="50">
        </div>

        <span class="name mb-1 fw-500">B M Management</span>
        <small class="text-black-50">We would like you to rate us!</small>
        <small class="text-black-50 font-weight-bold">Give Your Ratings based on our service</small>


        <div class="rate bg-dark py-3 text-white mt-3">

            <h6 class="mb-0">Rate our Service</h6>

            <div class="form-group">
                <label class="form" for="rating"></label>
                
                <select id="rating" class="form-control"  style=" height: 45px;
                width: 300px; margin-left: 2rem;" formControlName="rating" placeholder="Your Feedback" id="Rating">
                  <option selected></option>
                  <option>1.Very Satisfied</option>
                  <option>2.Satisfied</option>
                  <option>3.Average</option>
                  <option>4.Bad</option>
                  <option>5.Very Bad</option>
                </select>
                
              </div>
            <form>
                <div class="form-group Center w-80">
                    <div class="rate bg-dark text-white">
                        
                    <label for="FormControl" ><h6 class="text-center">Write Your Review</h6></label></div></div>
                    <div class="form-group Center w-75">
                    <textarea class="form-control" style=" margin-left: 3rem;" id="FormControl" rows="3"></textarea></div>
                  
            </form>



            <div class="buttons px-4 mt-0">
            
            <button class="btn btn-primary btn-block rating-submit" >Submit</button>
            
        </div>

            
        </div>




        
        
    </div>
    
</div>

</div>

