<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center ">
                <div class="card-body">
                    <h2 class="card-text">Delete??</h2>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="button" class="btn btn-primary btn-lg mr-4" (click)="deleteTheme()">
                            Yes
                        </button>
                        <button type="button" class="btn btn-danger btn-lg" (click)="goToGetThemes()">
                            No
                        </button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
