<app-user-header></app-user-header>
<div class="sec"
style="
  background-image: url(/assets/images/grey-geometrical-shapes-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-9 col-lg-9 col-xl-7">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0" style="margin-left: 45%">Book Event</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- Text input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="eventName"
                class="form-control"
                placeholder="Event Name"
                [(ngModel)]="bookevent.eventName"
                name="eventName"
                disabled="true"
              />
            </div>

            <!-- Name input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="applicantName"
                class="form-control"
                placeholder="Applicant Name"
                [(ngModel)]="bookevent.name"
                name="name"
              />
            </div>

            <!-- Address input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="Address"
                class="form-control"
                placeholder="Address"
                [(ngModel)]="bookevent.userAddress"
                name="userAddress"
              />
            </div>
            <div class="form-outline mb-4">
              <input
                type="tel"
                id="phoneNumber"
                class="form-control"
                placeholder="Phone Number"
                [(ngModel)]="bookevent.phoneNumber"
                name="phoneNumber"
              />
            </div>
            <div class="form-outline mb-4">
              <input
                type="email"
                id="email"
                class="form-control"
                placeholder="Email Id"
                [(ngModel)]="bookevent.email"
                name="email"
              />
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input
                    type="date"
                    min="{{ currentdate | date: 'yyyy-MM-dd' }}"
                    id="eventDate"
                    class="form-control"
                    placeholder="Event Date"
                    [(ngModel)]="bookevent.eventDate"
                    name="eventDate"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input
                    type="time"
                    id="eventTime"
                    class="form-control"
                    placeholder="Event Time"
                    [(ngModel)]="bookevent.eventTime"
                    name="eventTime"
                  />
                </div>
              </div>
            </div>
            <!-- Message input -->
            <div class="form-outline mb-4">
              <input
                type="number"
                id="NoOfpeople"
                class="form-control"
                placeholder="No of people"
                [(ngModel)]="bookevent.noOfPeople"
                name="noOfPeople"
              />
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label>Select Menu</label>
                  <select
                    class="form-control"
                    id="foodMenu"
                    [(ngModel)]="bookevent.menu"
                    name="menu"
                    >
                    <option
                      [value]="foodmenu.menuPrice"
                      *ngFor="let foodmenu of foodMenuArr"
                    >
                      {{ foodmenu.menuName }} :
                      {{ foodmenu.menuPrice | currency: "INR" }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label>Select Addon</label>
                  <select
                    class="form-control"
                    id="addon"
                    [(ngModel)]="bookevent.addon"
                    name="addon"
                  >
                    <option
                      [value]="addon.addonPrice"
                      *ngFor="let addon of addonArr"
                    >
                      {{ addon.addonName }} :
                      {{ addon.addonPrice | currency: "INR" }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-primary col-md-5 text-center"
              (click)="BookEvent()"
            >
              Make Booking
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
