<app-user-header></app-user-header>
<div class="sec">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0" style="margin-left: 45%">Book Event</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- Text input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="eventName"
                class="form-control"
                placeholder="Event Name"
                [(ngModel)]="bookevent.eventName"
                name="eventName"
                disabled="true"
              />
            </div>

            <!-- Name input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="applicantName"
                class="form-control"
                placeholder="Applicant Name"
                [(ngModel)]="bookevent.name"
                name="name"
              />
            </div>

            <!-- Address input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="Address"
                class="form-control"
                placeholder="Address"
                [(ngModel)]="bookevent.userAddress"
                name="userAddress"
              />
            </div>
            <div class="form-outline mb-4">
              <input
                type="tel"
                id="phoneNumber"
                class="form-control"
                placeholder="Phone Number"
                [(ngModel)]="bookevent.phoneNumber"
                name="phoneNumber"
              />
            </div>
            <div class="form-outline mb-4">
              <input
                type="email"
                id="email"
                class="form-control"
                placeholder="Email Id"
                [(ngModel)]="bookevent.email"
                name="email"
              />
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input
                    type="date"
                    min="{{ currentdate | date: 'yyyy-MM-dd' }}"
                    id="eventDate"
                    class="form-control"
                    placeholder="Event Date"
                    [(ngModel)]="bookevent.eventDate"
                    name="eventDate"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input
                    type="time"
                    id="eventTime"
                    class="form-control"
                    placeholder="Event Time"
                    [(ngModel)]="bookevent.eventTime"
                    name="eventTime"
                  />
                </div>
              </div>
            </div>
            <!-- Message input -->
            <div class="form-outline mb-4">
              <input
                type="number"
                id="NoOfpeople"
                class="form-control"
                placeholder="No of people"
                [(ngModel)]="bookevent.noOfPeople"
                name="noOfPeople"
              />
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <select
                    class="form-control"
                    id="foodMenu"
                    [(ngModel)]="bookevent.menu"
                    name="menu"
                    (change)="updateFoodMenuPrice($event)"
                  >
                    <option value="0" disabled>select FoodMenu</option>
                    <option
                      [value]="foodmenu.menuPrice"
                      *ngFor="let foodmenu of foodMenuArr"
                    >
                      {{ foodmenu.menuName }} :
                      {{ foodmenu.menuPrice | currency: "INR" }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <select
                    class="form-control"
                    id="addon"
                    [(ngModel)]="bookevent.addon"
                    name="addon"
                    (change)="updateAddonPrice($event)"
                  >
                    <option value="0" disabled>select Addon</option>
                    <option
                      [value]="addon.addonPrice"
                      *ngFor="let addon of addonArr"
                    >
                      {{ addon.addonName }} :
                      {{ addon.addonPrice | currency: "INR" }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Summary</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
            >
              Theme
              <span>{{ theme.themeCost }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
            >
              FoodMenu
              <span>{{ foodmenuPrice }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center px-0"
            >
              Addon
              <span>{{ addonPrice }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
            >
              <div>
                <strong>Total amount</strong>
              </div>
              <span
                ><strong>{{ totalPrice }}</strong></span
              >
            </li>
          </ul>

          <button type="button" class="btn btn-primary" (click)="BookEvent()">
            Make Booking
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
