<div class="container">
  <div class="row">
    <div class="col-md-12" *ngFor="let addOn of addons">
      <div class="card mb-4 box-shadow">
        <img
          class="card-img-top"
          [alt]="addOn.addOnName"
          style="height: 500px; width: 100%; display: block"
          [src]="addOn.addOnImageUrl"
        />
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h1 class="card-title text-uppercase">{{ addOn.addOnName }}</h1>
            <h1>Price:{{ addOn.addOnPrice | currency: "INR"}}</h1>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              (click)="updateAddon(addOn.addOnid)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger btn-lg"
              (click)="deleteAddon(addOn.addOnid)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
