
<div
  style="
    background-image: url(/assets/images/grey-geometrical-shapes-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  "
>
<div class="fixed-top"><app-user-header></app-user-header></div>

  <div class="container" style="margin-top: 3%">
    <br>
    <div class="row">
      <div class="col-md-4" *ngFor="let theme of Uthemes">
        <div 
        class="card mb-4 shadow-lg rounded" 
        style="background-color: hsla(0, 0%, 100%, 0.797)">
          <a [routerLink]="['/user/book-event', theme['id']]">
            <img
              class="card-img-top"
              [alt]="theme.themeName"
              style="height: 225px; width: 100%; display: block"
              [src]="theme.themeImageUrl"
          /></a>
          <div class="card-body">
            <h4 class="card-title">{{ theme.themeName }}</h4>
            <p class="card-text">
              {{ theme.themeDescription }}
            </p>
            <h5>Price:{{ theme.themeCost | currency: "INR" }}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button
                  type="button"
                  [routerLink]="['/user/book-event', theme['id']]"
                  routerLinkActive="active"
                  class="btn btn-sm btn-outline-secondary"
                >
                  Book
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
