<section class="sec">
<div>
    <app-admin-header></app-admin-header>
</div>
<div class="text-center" style="padding-bottom:15rem ;" class="ad">
    <h1>Welcome Back Admin</h1><br>
    <div class="container">
        <div class="row">
          <div class="col-md-12  text-center">
    <button routerLink="/admin/theme" routerLinkActive="active" type="button" class="btn btn-primary ">Continue</button>
</div>
<div>
    </div>
    </div>
    </div>
    <router-outlet></router-outlet>
</div>

</section>