<section
  style="
    background-image: url(/assets/images/grey-geometrical-shapes-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  "
>
  <div class="fixed-top"><app-admin-header></app-admin-header></div>
  <div class="text-center  " style="padding-top: 20%">
    <h1 style="text-shadow:20%;">Welcome Back Admin</h1>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <button
            routerLink="/admin/themes"
            routerLinkActive="active"
            type="button"
            class="btn btn-primary"
          >
            Continue
          </button>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</section>
