<div class="fixed-top"><app-admin-header></app-admin-header></div>
<section
  class="sec"
  style="
    background-image: url(/assets/images/grey-geometrical-shapes-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  "
>
  <div class="container">
    <br />
    <div class="text-center mt-5"><h1>Booked Events</h1></div>
    <br /><br />

    <div *ngFor="let event of events">
      <div class="row" styles="p3-border bg-light;">
        <div class="col">
          {{ event.eventId }}
        </div>
        <div class="col">
          {{ event.userId }}
        </div>
        <div class="col">
          {{ event.eventName }}
        </div>
        <div class="col">
          {{ event.eventDate }}
        </div>
        <div class="col">
          {{ event.eventTime }}
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-md btn-light btn-outline-danger"
            (click)="deleteEvent(event.eventId)"
          >
            Cancel
          </button>
        </div>
      </div>
      <br />
    </div>
    <br /><br />
  </div>
</section>
