<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a routerLink="/admin" class="navbar-brand bg-dark">Business Meet Management</a>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navcontent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navcontent">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link link-primary px-2"
            routerLink="/admin/theme"
            routerLinkActive="active"
          >
            Theme
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-primary px-2"
            routerLink="/admin/FoodMenu"
            routerLinkActive="active"
            >Food Menu
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-primary px-2"
            routerLink="/admin/Addon"
            routerLinkActive="active"
            >Add-on</a
          >
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link link-primary px-2"
            routerLink="/login"
            routerLinkActive="active"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>