<section class=" bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp')">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
       
      <div class="mb-1 m-1">
        
          <select id="selectCategory" formControlName="selectCategory"required style="border-radius: 5px;"
              [ngClass]="{ 'is-invalid': (submitted && f['selectCategory'].errors)||(f['selectCategory'].touched && f['selectCategory'].errors) }" >
              <option value="" id="admin/user" disable selected hidden>
                Enter Admin/User
              </option>
              <option>User</option>
              <option>Admin</option>
          </select>
              <div  *ngIf="(submitted && f['selectCategory'].errors)||(f['selectCategory'].touched && f['selectCategory'].errors)"
                     class="invalid-feedback">
                <div *ngIf="f['selectCategory'].errors['required']">
                  Category is required
                </div>
              </div>
              </div><br>
              
          
        <div class="form-outline mb-4">
          <label class="form-label" for="email">Email</label>
          <input 
            type="email" 
            formControlName="email" 
            id="email"
            class="form-control form-control-lg"
            [ngClass]="{ 'is-invalid': (submitted && f['email'].errors)||(f['email'].touched && f['email'].errors)  }"
          >
          <div 
            *ngIf="(submitted && f['email'].errors)||(f['email'].touched && f['email'].errors) " 
            class="invalid-feedback">
             <div *ngIf="f['email'].errors['required']">
               Email is required
             </div>
             <div *ngIf="f['email'].errors['email']">
               Email is invalid
             </div>
          </div>
        </div>
    
        <div class="form-outline mb-4">
          <label class="form-label" for="name">Name</label>
            <input
              id="username"
              type="text"
              formControlName="userName"
              class="form-control form-control-lg"
              [ngClass]="{ 'is-invalid': (submitted && f['userName'].errors)||(f['userName'].touched && f['userName'].errors)  }"
            />
            <div
              *ngIf="(submitted && f['userName'].errors)||(f['userName'].touched && f['userName'].errors) "
              class="invalid-feedback"
            >
              <div *ngIf="f['userName'].errors['required']" >
                User Name is required
              </div>
            </div>
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example4cdg">Password</label>
            <input 
              type="password"  
              formControlName="password" 
              id="password"
              class="form-control form-control-lg"
              [ngClass]="{ 'is-invalid':  (submitted && f['password'].errors)||(f['password'].touched && f['password'].errors)  }"
           />
          <div 
            *ngIf="(submitted && f['password'].errors)||(f['password'].touched && f['password'].errors)" 
            class="invalid-feedback"
          >
            <div *ngIf="f['password'].errors['required']">
              Password is required
            </div>
            <div *ngIf="f['password'].errors['minlength']">
              Password must be at least 6 characters
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
              Password must not exceed 40 characters
            </div>
          </div>
        </div>
    
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example4cdg">Confirm Password</label>
            <input type="password" 
              id="confirmPassword" 
              formControlName="confirmPassword"
              class="form-control form-control-lg" 
              [ngClass]="{ 'is-invalid': (submitted && f['confirmPassword'].errors)||(f['confirmPassword'].touched && f['confirmPassword'].errors)}"
            />
            <div 
              *ngIf="(submitted && f['confirmPassword'].errors)||(f['confirmPassword'].touched && f['confirmPassword'].errors)" 
              class="invalid-feedback">
              <div *ngIf="f['confirmPassword'].errors['required']">
                Password is required
              </div>
              <div *ngIf="f['confirmPassword'].errors['matching']">
                Password doesnot match
              </div>
            </div>
        </div>
            <div class="form-outline mb-4">
              <a href="#" 
              routerLink="/login" 
              routerLinkActive="active"  >
                <button class="btn btn-primary"[disabled]="signupForm.invalid" id="submitButton">Submit</button></a>
            </div>
            <div>
              <label>Already a user?</label>
              <a href="#" 
                 routerLink="/login" 
                 routerLinkActive="active" 
                 id="signinLink">
                 Login
              </a>
            </div>
      </form>
    </div>
    </div>
    </div>
    </div>
    
</div>
</div>
</section>