<section
  class="vh-90 background"
  style="
    background: url(/assets/images/grey-geometrical-shapes-wallpaper_23-2148811542.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  "
>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-9 col-lg-9 col-xl-7">
        <div class="card" style="border-radius: 10px; margin-top: 10%">
          <div class="card-body p-3">
            <p class="text-center h1 fw-bold mb-3 mx-3 mx-md-5 mt-9">Sign up</p>

            <form [formGroup]="RegisterForm" (ngSubmit)="userRegister()">
              <div class="d-flex flex-row align-items-center mb-4">
                <em class="fas fa-user fa-lg me-3 fa-fw"></em>
                <div class="form-outline flex-fill mb-0"></div>
              </div>

              <div class="d-flex flex-row align-items-center mb-4">
                <em class="fas fa-envelope fa-lg me-3 fa-fw"></em>
                <div class="form-outline flex-fill mb-0">
                  <input
                    class="form-control"
                    formControlName="email"
                    placeholder="Enter email"
                    id="email"
                  />
                  <div
                    *ngIf="
                      RegisterForm.get('email').invalid &&
                      RegisterForm.controls.email.touched
                    "
                    class="form-group"
                    class="alert"
                  >
                    <small
                      style="color: red"
                      *ngIf="RegisterForm.get('email').hasError('required')"
                    >
                      Email is Required!
                    </small>
                    <small
                      style="color: red"
                      *ngIf="
                        RegisterForm.get('email').hasError('email') &&
                        !RegisterForm.get('email').hasError('required')
                      "
                    >
                      Invalid Email!
                    </small>
                  </div>
                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-4">
                <em class="fas fa-user fa-lg me-3 fa-fw"></em>
                <div class="form-outline flex-fill mb-0">
                  <input
                    class="form-control"
                    formControlName="name"
                    placeholder="Enter Username"
                    id="name"
                  />

                  <div
                    *ngIf="
                      RegisterForm.get('name').invalid &&
                      RegisterForm.controls.name.touched
                    "
                    class="form-group"
                    class="alert"
                  >
                    <small
                      style="color: red"
                      *ngIf="RegisterForm.get('name').hasError('required')"
                      >Name is Required !</small
                    >
                    <small *ngIf="RegisterForm.get('name').hasError('pattern')">
                      Enter a valid name!
                    </small>
                  </div>
                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-4">
                <em class="fas fa-phone fa-lg me-3 fa-fw"></em>
                <div class="form-outline flex-fill mb-0">
                  <input
                    class="form-control"
                    formControlName="phone"
                    placeholder="Enter Mobile Number"
                    id="phone"
                  />

                  <div
                    style="color: red"
                    *ngIf="
                      RegisterForm.get('phone').invalid &&
                      RegisterForm.controls.phone.touched
                    "
                    class="form-group"
                    class="alert"
                  >
                    <small
                      *ngIf="RegisterForm.get('phone').hasError('required')"
                    >
                      Mobile Number is Required !
                    </small>
                    <small
                      *ngIf="RegisterForm.get('phone').hasError('pattern')"
                    >
                      Invalid mobile number!
                    </small>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <em class="fas fa-key fa-lg me-3 fa-fw"></em>
                <div class="form-outline flex-fill mb-0">
                  <input
                    class="form-control"
                    type="password"
                    formControlName="password"
                    id="password"
                    placeholder="Password"
                  />

                  <div
                    *ngIf="
                      RegisterForm.get('password').invalid &&
                      RegisterForm.controls.password.touched
                    "
                    class="form-group"
                    class="alert"
                  >
                    <small
                      style="color: red"
                      *ngIf="RegisterForm.get('password').hasError('required')"
                    >
                      Enter password !
                    </small>
                    <small
                      style="color: red"
                      *ngIf="RegisterForm.get('password').hasError('minlength')"
                    >
                      password should not contain less than 8 characters !
                    </small>

                    <small
                      style="color: red"
                      *ngIf="RegisterForm.get('password').hasError('maxlength')"
                    >
                      password exceed more than 16 characters !
                    </small>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <em class="fas fa-key fa-lg me-3 fa-fw"></em>
                <div class="form-outline flex-fill mb-0">
                  <input
                    class="form-control"
                    type="password"
                    formControlName="cpassword"
                    id="cpassword"
                    placeholder="Confirm Password"
                  />

                  <div
                    style="color: red"
                    *ngIf="
                      RegisterForm.get('cpassword').hasError('required') &&
                      RegisterForm.controls.cpassword.touched
                    "
                    class="alert"
                  >
                    <small
                      *ngIf="RegisterForm.get('cpassword').hasError('required')"
                    >
                      Re-enter your password !
                    </small>
                  </div>
                  <div
                    style="color: red"
                    *ngIf="
                      RegisterForm.get('cpassword').hasError('notEquivalent') &&
                      RegisterForm.controls.cpassword.touched
                    "
                    class="alert"
                  >
                    Passwords dont match
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button
                  type="submit"
                  [disabled]="RegisterForm.invalid"
                  class="btn btn-primary btn-lg"
                >
                  Register
                </button>
              </div>
              <p class="mb-5 pb-lg-2" style="color: #393f81">
                Already have an account?
                <a style="color: #393f81" routerLink="/login">Login here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
