<section
  style="
    background-image: url(/assets/images/grey-geometrical-shapes-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  "
>
  <div class="fixed-top"><app-user-header></app-user-header></div>
  <br /><br />
  <div class="text-center" style="font-style: italic; color: white">
    <br />
    <h2>Hello...</h2>
    <h3>Have a Good Day!!</h3>
    <br />
  </div>
  <div class="col-7 mx-auto">
    <div
      class="card mb-8 shadow-lg rounded"
      style=" background-color: hsla(0, 0%, 100%, 0.797)"
    >
      <div class="card-body">
        <div class="text-center">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">
            Affordable Meeting planners of your choice. We are a leading
            provider of Formal and Informal Meetings inside and outside any
            Organization. We also have additional arrangements based on your
            request for you to enjoy your day at our spot.
          </p>
          <h4>Happy to Have you Here</h4>
          <br />
          <button
            routerLink="/user/user-theme"
            routerLinkActive="active"
            type="button"
            class="btn btn-dark"
          >
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>
