.sec{
    background-image: url(/assets/images/grey-geometrical-shapes-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    padding-bottom: 2rem;
}