<app-admin-header></app-admin-header>
<div class="album py-4"  style="background-image: url('https://img.freepik.com/free-vector/modern-banner-with-abstract-low-poly-design_1048-14340.jpg?w=1380&t=st=1659881461~exp=1659882061~hmac=84a2255dfc84b96be2b58f7748ead57ae639071a69d944842b56aef5c27d86f1');">
  <div class="container">
    <div class="row">
      <button class="col-md-1 m-3 btn btn-sm btn-success" (click)="goToAddTheme()">Add Theme</button>
    </div>
  </div>  
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let theme of themes">
        <div class="card mb-4 box-shadow">
          <a
            [routerLink]="[theme.themeid]"
            [queryParams]="{ allowEdit: theme.themeid > 0 ? '1' : '0' }"
          >
            <img
              class="card-img-top"
              [alt]="theme.themeName"
              style="height: 225px; width: 100%; display: block"
              [src]="theme.themeimageUrl"></a>
          <div class="card-body">
            <h4 class="card-title">{{ theme.themeName }}</h4>
            <p class="card-text">
              {{ theme.themeDiscription }}
            </p>
            <h5>Price:{{ theme.themeCost | currency: "INR" }}</h5>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="updateUser(theme.themeid)">
                  Edit
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="deleteUser(theme.themeid)">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
