<section class="sec">
<div class="container"><br>
    <div class="card mb-4 box-shadow"  style="background-color:black; opacity: 0.75;"><br>
        <div class="text-center"><h3>EDIT ADD-ONS</h3></div><br>
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="form-group m-3">
            <label for="event_Id">Event Id:</label>
            <input
              [(ngModel)]="event_Id"
              type="number"
              name="eventId"
              id="event_Id"
              class="form-control"
            />
          </div>
          <div class="form-group m-3">
            <label for="eventName">Event Name:</label>
            <input
              [(ngModel)]="eventName"
              type="text"
              name="eventName"
              id="eventName"
              class="form-control"
            />
          </div>
          <div class="form-group m-3">
            <label for="eventDate">Event Date:</label>
            <input
              [(ngModel)]="eventDate"
              type="date"
              name="eventDate"
              id="eventDate"
              class="form-control"
            />
          </div>
          <div class="form-group m-3">
            <label for="eventTime">Event Time:</label>
            <input
              [(ngModel)]="eventTime"
              type="string"
              name="eventTime"
              id="eventTime"
              class="form-control"
            />
          </div>
          
          
          <div class="d-grid gap-2 d-md-flex justify-content-md-center m-3">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              (click)="onUpdateEvent()"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  