<div class="container">
    <div class="row">
        <div class="col-md-12" *ngFor="let theme of themes">
            <div class="card mb-4 box-shadow">
                <img
              class="card-img-top"
              [alt]="theme.themeName"
              style="height: 500px; width: 100%; display: block"
              [src]="theme.themeimageUrl">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h1 class="card-title text-uppercase">{{ theme.themeName }}</h1>
                        <h1>Price:{{ theme.themeCost | currency: "INR" }}</h1>
                    </div>
                    <p class="card-text fst-italic">
                    {{ theme.themeDiscription }}
                    </p>
                    <p class="fs-4">Photographer Details: {{theme.photographerDetails}}</p>
                    <p class="fs-4">Videographer Details: {{theme.videographerDetails}}</p>
                    <p class="fs-4">Return Gift: {{theme.gift}}</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="button" class="btn btn-primary btn-lg" (click)="updateUser(theme.themeid)">
                            Edit
                        </button>
                        <button type="button" class="btn btn-danger btn-lg" (click)="deleteUser(theme.themeid)">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>